<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>投稿編集</h1>
<%= form_with model:@book, url:"/todolists/#{@book.id}", local:true do |f| %>
  <h3>Title</h3>
  <%= f.text_field :title %>
  <h3>Body</h3>
  <%= f.text_area :body %>
  <h3>
    <%= f.submit '保存' %>
  </h3>
<% end %>

<% if @book.errors.any? %>
  <div class="alert">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li>Error : Body can't be blank</li>
      <% end %>
    </ul>
  </div>
  <% end %>

